@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  scrollbar-gutter: stable;
}

body {
  --scrollbar-opacity: 0;
  transition: --scrollbar-opacity 0.3s ease;
  background: #1e2320;
  color: #c5c6b3;
}

body.scrolling {
  --scrollbar-opacity: 1;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1e2320;
}

::-webkit-scrollbar-thumb {
  background: #3f4337;
  opacity: var(--scrollbar-opacity);
  border-radius: 9999px;
  transition:
    opacity 0.3s ease,
    background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e745f;
  opacity: 1;
}

/* Firefox fallback */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f4337 #1e2320;
}
